RegRepCNN.ipynb
ScalarRepCNN.ipynb
ScaVecCNN.ipynb
VanillaCNN.ipynb
ScaVecMoment.ipynb
__pycache__/moment_kernels.cpython-39.pyc
__pycache__/benchmark_models.cpython-39.pyc
notebook2024.sh
benchmark/__pycache__/benchmark_models.cpython-39.pyc
__pycache__/models.cpython-39.pyc
jupyter-notebook.log
benchmark/equiv_benchmark.log
benchmark/best_acc_VanillaCNN_dermamnist.pt
benchmark/best_auc_VanillaCNN_dermamnist.pt
benchmark/final_VanillaCNN_dermamnist.pt
benchmark/metrics_VanillaCNN_dermamnist.json
benchmark/train.sh
benchmark/old_results/best_acc_RegularECNN_dermamnist0.pt
benchmark/old_results/best_acc_TrivialECNN_dermamnist.pt
benchmark/old_results/best_acc_TrivialECNN_dermamnist0.pt
benchmark/old_results/best_acc_TrivialIrrepECNN_dermamnist.pt
benchmark/old_results/best_acc_TrivialIrrepECNN_dermamnist0.pt
benchmark/old_results/best_acc_TrivialIrrepMoment_dermamnist0.pt
benchmark/old_results/best_acc_TrivialMoment_dermamnist.pt
benchmark/old_results/best_acc_TrivialMoment_dermamnist0.pt
benchmark/old_results/best_acc_VanillaCNN_dermamnist.pt
benchmark/old_results/best_acc_VanillaCNN_dermamnist0.pt
benchmark/old_results/best_auc_RegularECNN_dermamnist0.pt
benchmark/old_results/best_auc_TrivialECNN_dermamnist.pt
benchmark/old_results/best_auc_TrivialECNN_dermamnist0.pt
benchmark/old_results/best_auc_TrivialIrrepECNN_dermamnist.pt
benchmark/old_results/best_auc_TrivialIrrepECNN_dermamnist0.pt
benchmark/old_results/best_auc_TrivialIrrepMoment_dermamnist0.pt
benchmark/old_results/best_auc_TrivialMoment_dermamnist.pt
benchmark/old_results/best_auc_TrivialMoment_dermamnist0.pt
benchmark/old_results/best_auc_VanillaCNN_dermamnist.pt
benchmark/old_results/best_auc_VanillaCNN_dermamnist0.pt
benchmark/old_results/final_RegularECNN_dermamnist0.pt
benchmark/old_results/final_TrivialECNN_dermamnist.pt
benchmark/old_results/final_TrivialECNN_dermamnist0.pt
benchmark/old_results/final_TrivialIrrepECNN_2_dermamnist.pt
benchmark/old_results/final_TrivialIrrepECNN_dermamnist0.pt
benchmark/old_results/final_TrivialIrrepMoment_dermamnist.pt
benchmark/old_results/final_TrivialMoment_dermamnist0.pt
benchmark/old_results/final_VanillaCNN_dermamnist.pt
benchmark/old_results/final_VanillaCNN_dermamnist0.pt
benchmark/old_results/metrics_RegularECNN_dermamnist0.json
benchmark/old_results/metrics_TrivialECNN_dermamnist.json
benchmark/old_results/metrics_TrivialECNN_dermamnist0.json
benchmark/old_results/metrics_TrivialIrrepECNN_dermamnist0.json
benchmark/old_results/metrics_TrivialIrrepMoment_dermamnist.json
benchmark/old_results/metrics_TrivialMoment_dermamnist.json
benchmark/old_results/metrics_TrivialMoment_dermamnist0.json
benchmark/old_results/metrics_VanillaCNN_dermamnist.json
benchmark/old_results/metrics_VanillaCNN_dermamnist0.json
benchmark/.ipynb_checkpoints/benchmark-checkpoint.ipynb
results
benchmark/.cometml-runs/d6b5f5a7741b45c6957280edf8e1972f-TJVUSC.zip
benchmark/generate_figures.py
benchmark/figures.sh
benchmark/figures.log
benchmark/__pycache__/E2CNN_models.cpython-39.pyc
benchmark/testing.ipynb
benchmark/benchfigures.sh
benchmark/benchtrain.sh
benchmark/__pycache__/benchmark_models2.cpython-39.pyc
data
